<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin-page</title>
    <link rel="stylesheet" type="text/css" href="static/admin_page.css">
</head>
<body>
    {% if session["username"] == "Berkehan_Göktürk"%}
        {% extends 'base.html' %}
        {% block body_content %}
        <div class="admin_manager">
            <form method="post" action="{{ url_for('admin_page_delete') }}">
                <table>
                 {% for x in range(data_sum) %}
                  <tbody>
                  <tr id="manager">
                      <td>{{ text_data[x][0]["title"]["title"] }}</td>
                      <td>{{  text_data[x][0]["title"]["text"][0:50]|safe+"...." }}</td>
                      <td>{{ text_data[x][0]["title"]["author"] }}</td>
                      <td><input type="submit" value="Sil" name="{{  text_data[x][0]["title"]["id"] }}"></td>
                      <td><input type="submit" value="Düzenle" name="{{  text_data[x][0]["title"]["id"] }}"></td>
                  </tr>
                  {% endfor %}
                  </tbody>
              </table>
            </form>
        </div>
        {% endblock %}
    {% else %}

    {% endif %}
</body>
</html>