<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<div class="navigation-bar">
    <ul>
        <li><a href="#Home">Home</a> </li>
        <li><a href="#Contact">Contact</a> </li>
        <li><a href="#Hakkinda">About</a> </li>
        <li><a href="#Development">Development News</a> </li>
    </ul>
</div>

<div id="container">

    <h3 class="baslik"> Giriş Ekranı</h3>

    <label for="aramaKutusu">Email</label>
    <input list="aramaListesi" id="aramaKutusu"><br>
    <label for="passw">Password</label>

    <input list="aramaListesi" id="passw" type="password">


</div>


</body>
<script src="atasozu.js"></script>

</html>